%h1.title.has-text-centered About This Project
.content.m-1
  %h3.subtitle Who are you?
  %p 
    I'm Emre and I try to learn Ruby and this is my demo project. :)
  %h3.subtitle Why this project created?
  %p 
    Actually I'm not interested about people's secret. 
    %a{href: "https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-on-rails/lessons/authentication" }
      I came across a task about implementing authentication in Rails project while reading Odin. Then, I made it :)
  %h3.subtitle What technologies did you in this project?
  %p 
    %ul
      %li I'm not good at frontend so I used Bulma for instant CSS. 
      %li For some minor CSS works, I used Sass.
      %li Ruby On Rails, in backend.
      %li 
        %a{ href: "https://github.com/Tarbetu/membersonly" }
          You might want to look at this project's Github repository.

